# Ignore everything by default
*

# Keep important files
!.gitignore
!README.md
!requirements.txt
!LICENCE

# Keep data folder
!data/
!data/**

# Keep image folder
!image/
!image/**

# Keep notebooks folder but ignore specific files inside
!notebooks/
!notebooks/lin_reg_scratch.ipynb
notebooks/reg_log_scratch.ipynb
notebooks/test.ipynb

# Ignore junk and temp files
.ipynb_checkpoints/
__pycache__/
*.pyc
.DS_Store
Thumbs.db